[submodule "tern"]
	path = tern
	url = git@github.com:marijnh/tern.git
[submodule "multiple-cursors.el"]
	path = multiple-cursors.el
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "angularjs-mode"]
	path = angularjs-mode
	url = https://github.com/omouse/angularjs-mode.git
[submodule ".emacs.d/nginx-mode"]
	path = .emacs.d/nginx-mode
	url = https://github.com/ajc/nginx-mode.git
[submodule "tern"]
	path = tern
	url = git@github.com:ternjs/tern.git
