[user]
	name = Derek Pavao
	email = dpavao@intersections.com

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        ui = true
        pager = true

[color "branch"]
        current = yellow reverse
        local = yellow
        remote = green

[color "diff"]
        meta = yellow bold
        frag = magenta bold
        old = red bold
        new = green bold

[color "status"]
        added = yellow
        changed = green
        untracked = cyan

[core]
        pager = less -FRSX
        whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/dpavao/.gitignore

[alias]
        co = checkout
	st = status -s
        sdiff = "!diff() { cdiff -s -w 120 $1 $2; }; diff"
	ci = commit
	w = whatchanged
	br = branch
	l = log --decorate --pretty=oneline --abbrev-commit
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lols = log --graph --decorate --pretty=oneline --abbrev-commit --max-count=10
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	standup = log --since '1 day ago' --oneline --author dpavao@intersections.com --all
        ph = !git push && python -m pushroulette

[core]
	editor = emacs
[merge]
        keepBackup = false
	tool = bc4
[push]
	default = simple
[credential]
	helper = osxkeychain
[commit]
        template = /Users/dpavao/.stCommitMsg
[diff]
	tool = p4mergetool
[difftool "p4mergetool"]
	cmd = /Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE
[pull]
	rebase = true
